<!doctype html>
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/detection.js') }}" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Object Detection</title>
</head>

<body>
    <div class="container">
    <form id="upload-file">
        <br>
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile" id="UploadLabel">Choose File</label>
            </div>
            <div class="input-group-append">
                <input class="input-group-text btn-primary" type="button" onclick=upload() value="Upload">
            </div>
        </div>
    
    </form>
    </div>
    {% if output_filename %}
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th style="text-align:center">Before Background Remove</th>
                    <th style="text-align:center">After Background Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center" width="50%"><img
                            src="{{ url_for('static', filename='images/test_images/'+input_filename) }}" class="img-thumbnail" alt="Actual Image"></td>
                    <td style="text-align:center" width="50%"><img
                            src="{{ url_for('static', filename='images/result_images/'+output_filename) }}" class="img-thumbnail" alt="Detected Image"></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
</body>

</html>